<div id="maincontainer" class="container">
  <div class="mt-4 mb-4">
    <h4>{{ title }}</h4>
  </div>

  <div class="btn-toolbar text-center well">
    <div class="col-md-4 col-lg-3 mb-2 ">
      <button
        id="state"
        class="btn btn-outline-primary btn-block "
        [routerLink]="['/state']"
        routerLinkActive="active"
      >
        State
      </button>
      <app-tooltip *ngIf="stateTooltip" [tooltip_text]="tt_text"></app-tooltip>
    </div>
    <div class="col-md-4 col-lg-3 mb-2 ">
      <button
        id="view"
        class="btn btn-outline-success btn-block "
        [routerLink]="['/view']"
        routerLinkActive="active"
      >
        View
      </button>
      <app-tooltip *ngIf="viewTooltip" [tooltip_text]="tt_text"></app-tooltip>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
